<div>
  <!-- UNICA COLUMNA PRINCIPAL-->
  <div class="col-md-12">
    <!-- UNICA FILA PRINCIPAL-->
    <!--JUNTO CON LA COLUMNA, FORMAN UNA CELDA-->
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4">

        <label>Pedrio:</label>
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Seleccione un predio
        </button>
        <br>
        <br>
        <label>Periodo de la cuota: </label>
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Seleccione un predio
      </button>
        <br>
        <br>

        <label>Presidente del predio:</label><label>Juan Carlos</label>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6">
        <h1>Gastos del Predio no registrados!</h1>
        <h1>Big Text 2</h1>
      </div>

      <div class="col-xs-2 col-sm-2 col-md-2">
        <h2>Acciones</h2>
        <div class="button-row">
          <button type="submit" class="btn btn-primary">Button 1</button>
          <br>
          <br>
          <button type="submit" class="btn btn-primary">Button 2</button>
          <br>
          <br>
          <button type="submit" class="btn btn-primary">Button 3</button>
        </div>
      </div>
    </div>
  </div>
</div>