.seccion-tabla-detalles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #e9e9e9;
    background-position: center;
    background-size: cover;
}
.seccion-tabla {
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-height: 50vh;
    /*tamaño*/
    background-color: rgb(244, 244, 244);
    border: 1px solid var(--blue-navy-clrclr);
    border-radius: 5px;
    width: 95%;
}