.barra-superior {
    background-color: var(--blue-navy);
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
/*TITULO IZQUIERDO */
.barra-superior-titulo {
    color: #fff;
    text-decoration: none;
}
/*Texto generico*/
.barra-superior-texto {
    flex-grow: 1;
    text-align: center;
    color: #fff;
    margin: 0;
}

