/* You can add global styles to this file, and also import other style files */
:root {
    --blue-navy: #000080;
    --blue-navy-clr: calc(var(--blue-navy) + #303030);
    --blue-navy-clrclr: calc(var(--blue-navy-clrclr) + #303030);
  }